<h1>User info</h1>
<div>
  <%= image_tag user.get_profile_image(100,100) %>
  <table>
    <tr></tr>
    <tr>
      <th>name</th>
      <th><%= user.name %></th>
    </tr>
      <th>introduction</th>
      <th><%= user.introduction %></th>
    </tr>
  </table>
  <p><%= link_to "edit", edit_user_path(user.id) %></p>
